.hero-section {
  position: relative;
   height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

/* Vidéo plein écran */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Overlay sombre pour lisibilité */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.hero-content span {
  color: #ffdd00;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  padding: 0.9rem 1.8rem;
  background: #ffdd00;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #e6c500;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }
}
